.form-container {
    margin-top: 25px;
}
.spacing {
    margin:10px;
    text-align: center;

}
.button-style {
    color: #ffffff !important;
   
    background: #328E83 !important;
}

.vinStyle {
    vertical-align: -webkit-baseline-middle;
}

/* colors 
#328E83 #ED7715  */