.form-container {
    margin-top: 40px;
}
.spacing {
    margin:10px;
    text-align: center;

}
.button-style {
    color: #ffffff !important;
   
    background: #328E83 !important;
}

/* colors 
#328E83 #ED7715  */